<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Бандерштат</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bandershtat_manga.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark">

    @Html.Partial("18PlusWarning")

    <div style="background-image: url(https://imagizer.imageshack.com/img922/1079/1ABk9p.jpg); 
                height: 20%; 
                width: 100%;
                text-align: center;
                color: white;
                padding: 5%">
        <h1>Бандерштат</h1>
    </div>

    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Manga Dropdown -->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Манга
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" style="width: 900%">
                        @if (ViewBag.GenreDropdownList != null)
                        {
                            var genres = (SelectList)ViewBag.GenreDropdownList;

                            // Розбиваємо жанри на групи (наприклад, по 3 в кожній колонці)
                            var groupedGenres = genres
                            .Select((genre, index) => new { Genre = genre, Index = index })
                            .GroupBy(item => item.Index / 4)
                            .Select(group => group.Select(item => item.Genre));

                            // Виводимо кожну групу у окремому рядку
                            foreach (var group in groupedGenres)
                            {
                                <div class="row">
                                    @foreach (var genre in group)
                                    {
                                    <div class="col">
                                        <a class="dropdown-item" href="#">@genre.Text</a>
                                    </div>
                                    }
                                </div>
                            }
                        }
                    </ul>
                </div>

                <button type="button" class="btn btn-danger">Відео</button>

                <form method="post" action="@Url.Action("Search", "Home")">
                    <input type="text" name="query" placeholder="Пошук..." />
                    <button type="submit">Пошук</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container bg-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2024 - bandershtat_manga - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
